        {% load static %}
        <footer>
            <div id="div_footer">
                <div>
                    <img id="logo" src={% static "global/image/logo-principal.png" %} alt="MySee" width="100px">
                </div>
                <div id="div_list">
                    <ul>
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">SOBRE NÓS</a></li>
                        <li><a href="#">SERVIÇOS</a></li>
                        <li><a href="#">OBRAS/PROJETOS</a></li>
                        <li><a id="contatos" href="https://wa.me/5592992881821" target="_blank">CONTATO</a></li>
                    </ul>
                </div>
                <div id="div_social">
                    <a href="https://www.facebook.com/myseeSegurancaEletronica?mibextid=ZbWKwL" target="_blank"><img src={% static "global/image/facebook.png" %} alt="whatsapp" width="40px"></a>
                    <a href="https://instagram.com/mysee.seg?igshid=MzRlODBiNWFlZA==" target="_blank"><img src={% static "global/image/instagram.png" %} alt="whatsapp" width="40px"></a>
                </div>
                <p>MySee&copy;2026. Todos os direitos reservados. Site desenvolvido por <a id="jhones" href="http://jhonessn.com" target="_blank">Jhones Soares</a></p>
            </div>      
        </footer>