{% load static %}
<header>
  <nav class="navigation">
    <a href="#home_principal">
      <div>
        <img src={% static "global/image/logo1.png" %} alt="MySee" width="100px" />
        <img src={% static "global/image/logo2.png" %} alt="MySee" width="120px" />
      </div>
    </a>
    <ul class="nav-menu">
      <li class="nav-item"><a href="#home_principal">Home</a></li>
      <li class="nav-item"><a href="#">Sobre Nós</a></li>
      <li class="nav-item"><a href="assets/servicos.html">Serviços</a></li>
      <li class="nav-item"><a href="#">Obras/Projetos</a></li>
      <li class="nav-item"><a id="contatos" href="#">Contatos</a></li>
    </ul>
    <div class="menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>

<section id="redes_Sociais">
  <a href="https://wa.me/5592992881821" target="_blank"
    ><img src={% static "global/image/whatsapp.png" %} alt="whatsapp" width="60px"
  /></a>
</section>
