        {% load static %}
        <section id="section_solucoes">
            <div id="div_solucoes">
                <h1>SOLUÇÕES COMPLETAS PARA SEU PROJETO</h1>
                <img src={% static "global/image/banner_seguranca.jpg" %} alt="Banner">
                <div>
                    <p>Atualmente a tecnologia está cada vez mais presente na vida das pessoas e no mundo corporativo e não poderia ser diferente em relação à segurança. A tecnologia tornou-se indispensável para o sistema de proteção das empresas, como um todo.</p>
                    <p>A <span>MySee</span> é especializada em soluções de segurança eletrônica e oferece uma ampla gama de serviços para atender às suas necessidades. Nossa equipe de profissionais altamente capacitados está sempre pronta para ajudá-lo(a) a encontrar as melhores soluções para o seu negócio.</p>
                </div>
                <a href="assets/servicos.html">SAIBA MAIS</a>
            </div>
        </section>